.__loaderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryBG);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
}

.loader {
    position: relative;
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
  }
  .loader:after{
    content: '';
    position: absolute;
    inset: 8px;
    margin: auto;
    background: #222b32;
     border-radius: 50%;
  }
  .loader:before{
    content: '';
    position: absolute;
    inset: 0px;
    margin: auto;
    background: var(--primaryColor);
    animation: crlMugLoader 2s linear infinite alternate;
  }
  @keyframes crlMugLoader {
    0%  ,10% { transform: translateY(64px) }
    90% , 100% { transform: translateY(0px) }
  }
      