.__audienceAllEventsContainer {
    position: relative;
    width: 100%;
    min-height: calc(100dvh - 90px);
}
.__noEvents{
    padding: 0.8em;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 35px;
    background: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 100%;
    height:420px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.__audienceEventcard_Box,
.__audienceEventcard_secondaryBOX {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 345px));
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 1em 1.5em;
}

.__audience_EventCards {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    position: relative;
    margin-bottom: 20px;
}

.__audience_EventCards:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
    color: var(--primaryColor);
    margin-bottom: 10px;
    font-size: 1.2em;
    width: 100%;
    padding: 0em 10px;
    text-align: center;
    margin-top: 10px;
}

.date {
    margin-top: 2.5em;
}

.date,
.location {
    color: var(--secondaryColor);
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding: 0em 20px;
}

.description {
    color: var(--secondaryColor);
    margin-bottom: 15px;
    font-size: 0.9em;
    margin: 20px auto;
    width: 100%;
    padding: 0em 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0em 20px;
}

.price {
    font-weight: bold;
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    font-weight: 800;
}

.statsICON {
    font-size: 18px;
    color: var(--primaryColor);
}

.availability {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--secondaryColor);
}

.privateTag {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--primaryColor);
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.8em;
}


.__EventCards__userINFO {
    margin-top: 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid rgba(128, 128, 128, 0.427);
    width: 100%;
    padding: 1em 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.__userInitials {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    background-color: #284ebe1f;
    text-transform: uppercase;
}
.__userProfilePICTURE{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.__userINFO_fullName {
    font-weight: 500;
    font-size: 18px;
    color: grey;
}
.__eventCreatedAt{
    font-size: 14px;
    font-weight: 700;
}
.__audienceEventcard_secondaryBOX {
  grid-template-columns: repeat(auto-fit, minmax(375px, 375px));
  gap: 20px;
  padding: 1em 1.5em;
}

.ticket {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    height: 300px;
  }
  
  .ticketHeader {
    background-color: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
  }
  .ticketTitle{
    font-size: 20px;
  }
  
  .ticketContent {
    padding: 20px;
  }
  
  .userInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .userImage {
    width:55px;
    height:55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .userImagePlaceholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4a90e2;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-right: 15px;
  }
  
  .userDetails {
    /* flex-grow: 1; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
  }
  
  .userName {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .userPhone {
    color: #666;
    font-size: 0.9em;
  }
  
  .ticketInfo {
    margin-bottom: 10px;
  }
  
  .ticketLabel {
    font-weight: bold;
    color: #555;
  }
  
  .ticketValue {
    float: right;
  }
  
  .ticketDivider {
    border-top: 1px dashed #ccc;
    margin: 15px 0;
  }
  
  @media screen and (max-width: 376px) {
    .__audienceEventcard_secondaryBOX {
        grid-template-columns: 1fr;
        padding: 1em 0.5em;
    }
  }

@media screen and (max-width: 370px) {
    .__noEvents {
        font-size: 28px;
    }

    .__audienceEventcard_Box {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        align-items: center;
        justify-content: center;
        column-gap: 20px;
        padding: 1em;
    }
}