.container {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .heroSection {
    position: relative;
    background: linear-gradient(to right, #243949 0%, #517fa4 100%);
    height: calc(100dvh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }

  
  .heroContent {
    position: relative;
    z-index: 1;
    max-width: 800px;
    padding: 20px;
  }
  
  .heroTitle {
    font-size: 3.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
  
  .heroText {
    font-size: 1.2em;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  }
  
  .ctaButton {
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: var(--primaryColor);
    color: var(--mainBg);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .ctaButton:hover {
    background-color: #0056b3;
  }

/* Responsive styles */
@media (max-width: 768px) {
  .heroTitle {
    font-size: 2.5em;
  }

  .heroText {
    font-size: 1em;
  }

  .ctaButton {
    padding: 12px 24px;
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .heroTitle {
    font-size: 2em;
  }

  .heroText {
    font-size: 0.9em;
  }

  .ctaButton {
    padding: 10px 20px;
    font-size: 0.9em;
  }
}