.__appHeader {
    width: 100%;
    height: 90px;
    background-color: var(--secondaryBG);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding: 0em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 5;
}

.__appHeader_LOGOContainer {
    display: block;
    text-decoration: none;
    outline: none;
    border: none;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid rgba(128, 128, 128, 0.122);
    padding: 0.5em;
}

.__appHeader_LOGO {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    scale: 1.2;
}

.__hamButton {
    border: none;
    outline: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 5px;
    font-size: 20px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--primaryColor);
    cursor: pointer;
    display: none;
}

/*! Navbar */

.__appNavbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 400px;
    position: relative;
}

.__NavItems {
    width: 120px;
    text-align: center;
    padding: 0.6em;
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: 17px;
    font-weight: 500;
    transition: all 400ms ease;
    position: relative;
    z-index: 2;
    margin: 0px 10px;
}

.__NavItems::after {
    border-top: 2px solid var(--primaryColor);
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    transition: all 400ms ease-in;
    z-index: -1;
    border-radius: 5px;
    display: none;
}

.__NavItems:hover::after {
    animation: hoverTransition 400ms ease-out;
    display: block;
}

.__NavItems:hover {
    cursor: pointer;
    color: var(--primaryColor);
    font-weight: 600;
}

.active {
    color: var(--primaryColor);
    border-radius: 5px;
    font-weight: 700;
}
.active:after {
    display: block;
}

.__logoutButton{
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.33);
    width: 120px;
    font-size: 16px;
    font-weight: 500;
    padding: 0.6em;
    border-radius: 5px;
    background-color: var(--primaryColor);
    transition: all 400ms ease-in-out;
    color: var(--mainBG);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.__logoutICON{
    font-size: 20px;
}
.__logoutButton:hover{
    cursor: pointer;
    background-color: #1f42ad;
}

@media screen and (max-width: 650px) {
    .__hamButton {
        display: flex;
    }

    .__appNavbar {
        min-width: 100%;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;       
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--secondaryBG);
        width: 95%;
        height: 250px;
        padding: 2em 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .__NavItems{
        margin: 0;
    }
    .__logoutButton{
        width: 90%;
    }
    .hideNavbar{
        display: none;
    }
}