.__DetailsPageContainer {
    width: 100%;
    min-height: calc(100dvh - 90px);
    position: relative;
    padding: 1em 2em;
}

.__EventTitle {
    width: 100%;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    color: var(--secondaryColor);
}

.__EventDescription {
    font-size: 18px;
    margin: 20px 0px;
    color: black;
    font-weight: 500;
    text-transform: capitalize;
}

.__EventOrganizerDetails {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.226);
    padding: 1.5em 0em;
}

.__userInitials {
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: 22px;
    font-weight: 700;
    background-color: rgba(0, 0, 255, 0.176);

}

.__EventOrganizer_Name {
    font-size: 20px;
    font-weight: 600;
}

.__EventprivateTag {
    background-color: rgba(128, 128, 128, 0.957);
    color: white;
    padding: 3px 1em;
    border-radius: 4px;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
}

.__eventData_Container {
    margin: 25px auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 275px);
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.__EventDateBox,
.__EventLocationBox,
.__EventpriceTagBox,
.__EventTicketCount {
    border: 2px solid rgba(128, 128, 128, 0.245);
    width: 100%;
    padding: 10px 20px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 5px;
}

.__EventpriceTagBox {
    gap: 5px;
}

.__EventDataICON {
    font-size: 25px;
    color: var(--primaryColor);

}

.__EventDataText {
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
}

.__EventpriceTagBox,
.__EventTicketCount {
    font-size: 20px;
    font-weight: 500;
}

.__priceTagICON {
    color: var(--primaryColor);
    font-size: 22px;
}
.__RegisteredUserListBox{
    border: 2px solid red;
    width: 100%;
}

.__buttoncontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    margin: 2em auto;
    gap: 30px;
    flex-wrap: wrap;
}

.__RegistrationCLosed {
    width: 240px;
    text-align: center;
    padding: 0.6em;
    font-size: 18px;
    border-radius: 5px;
    background-color: grey;
    color: white;

}

.__EventRegisterButton,
.__BackButton {
    width: 220px;
    font-size: 16px;
    height: 45px;
    border: none;
    outline: none;
    background-color: var(--primaryColor);
    color: white;
    font-weight: 500;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
}

.__BackButton {
    background-color: transparent;
    outline: none;
    width: 175px;
    color: var(--primaryColor);
    border: 1px solid var(--primaryColor);
}

.__EventRegisterButton:hover {
    cursor: pointer;
    background-color: #1f42ad;
}

.__BackButton:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
    color: white;
}


.__userProfilePICTURE{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


@media screen and (max-width: 810px) {
    .__eventData_Container {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media screen and (max-width: 560px) {
    .__eventData_Container {
        grid-template-columns: repeat(1, 1fr);
    }

    .__DetailsPageContainer {
        padding: 1em;
    }

    .__buttoncontainer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .__RegistrationCLosed,
    .__EventRegisterButton,
    .__BackButton {
        width: 90%;
    }
}